* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    background: url('../images/mars.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.someContent {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.emptyArticles {

}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
}

.sample {
    font-weight: bold;
    color: darkorange;
    text-transform: capitalize;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.dateCreate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

